In [177]:
import pandas as pd
import numpy as nd
import json
s = pd.Series([0,1,2,3,4,5,6,7,8,9,10])

a =[1,2,3,4,5,6,7,8]
b = [0] * 10
b[2 : 5+5] = a[:8]
b

l = list()
l.append(2)
l.append(3)
l.append(4)
l

s.describe()
s[2:4]

2    2
3    3
dtype: int64

In [113]:
s.describe()

count    11.000000
mean      5.000000
std       3.316625
min       0.000000
25%       2.500000
50%       5.000000
75%       7.500000
max      10.000000
dtype: float64

In [164]:
path = 'input/' + 'track2_face_attrs_100000.txt'
rows = list()
keyname = 'face_attrs'
dimLength = 12
primaryKey='item_id'
with open(path, 'r') as f:
    for i, line in enumerate(f):
        if i >= 20:
            break
        row = [0] * (dimLength + 1)
        content = json.loads(line)
        item_id = int(content[primaryKey])
        row[0] = item_id
        key_data = content[keyname]

        if keyname == 'face_attrs':
            for idx, attr in enumerate(key_data) :
                row[idx*6+1: idx*6+7] = [attr['gender'], attr['beauty']] + attr['relative_position']
        else:
            col_num = min(dimLength, len(key_data))
            row[:col_num] = key_data[:col_num]

        rows.append(row)

rows

[[48318, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [1192644, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [1329871, 1, 0.6, 0.125, 0.3125, 0.65, 0.4797, 0, 0, 0, 0, 0, 0],
 [323042, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [864967, 1, 0.41, 0.4806, 0.4016, 0.0917, 0.0531, 0, 0, 0, 0, 0, 0],
 [73400, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [813408, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [1301172, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [62277, 0, 0.48, 0.1917, 0.3781, 0.1056, 0.0828, 0, 0, 0, 0, 0, 0],
 [1567284, 0, 0.59, 0.1889, 0.0516, 0.45, 0.3797, 0, 0, 0, 0, 0, 0],
 [1309941, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [436286, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [1585516, 1, 0.57, 0.3139, 0.3203, 0.4556, 0.2422, 0, 0, 0, 0, 0, 0],
 [1617213, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [1256799, 1, 0.59, 0.3118, 0.1938, 0.4185, 0.3359, 0, 0, 0, 0, 0, 0],
 [897160,
  0,
  0.51,
  0.7,
  0.0609,
  0.1306,
  0.0984,
  1,
  0.47,
  0.2583,
  0.2297,
  0.0889,
  0.0641],
 [1042245, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [105454, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [1247111, 0, 0.35, 0.4444, 0.3297, 0.0667, 0.0766, 0, 0, 0, 0, 0, 0],
 [1075435, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [220]:
data = nd.array([[10,20,20],[30,10,20],[10,30,40]])
data2 = nd.array([5,59,51])
df = pd.DataFrame(data, columns = [ 'a' + str(x) for x in range(3)])
df2 = pd.DataFrame(data2, columns = ['item'] )
pd.concat([df, df2],  axis=1)

   a0  a1  a2  item
0  10  20  20     5
1  30  10  20    59
2  10  30  40    51

In [199]:
"adasd"+"adwad"

'adasdadwad'